@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "retganon";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./retganon.woff2") format("woff2");
  }
}
